.bankheading {
    background-image: url("mountain-Background.jpg");
    color:black;
    text-align: center;
    width: 115%;
    margin-top:  -10px;
    margin-left: -10.5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 100px;
}
.bankbody {
    margin-left:5%;
    font-size: 12pt;
    background-color: rgba(0, 255, 255, 0.5);
}
.button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 5%;
}

.buttonsub {
    background-color:orangered;
    color: white;
    padding: 15px;
    border: 0px;
    border-radius: 15%;
    transition-duration: 0.4s;
    box-shadow: 0 10px rgb(175, 47, 0);

}

.buttonadd {
    background-color:rgb(46, 139, 87);
    color: white;
    padding: 15px;
    border: 0px;
    border-radius: 15%;
    transition-duration: 0.4s;
    box-shadow: 0 10px rgb(28, 82, 52);

}

.buttonadd:active {
    box-shadow: 0 5px rgb(28, 82, 52);
    transform: translateY(5px)
}
.buttonsub:active {
    box-shadow: 0 5px  rgb(175, 47, 0);
    transform: translateY(5px)
}
.button:hover {
    filter:brightness(0.75)
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: 0 0 white;
    transform: translateY(10px);
    transition-duration: 0;
    
}

.warning {
    color:red;
}

